h1 {
    color:white
}

h1 {
    text-align:center
}

p {
    text-align:center
}

h1 {
    text-shadow:0cqh
}

main {
  background-color: blueviolet;
}

header {
    background-color: black;
}

background-color
text-decoration-line
text-decoration-style
background-image